.inputs {
  margin: 20px 0 15px;
}

.input {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.input input {
  display: inline-block;
  margin-left: 8px;
}

.example-select {
  margin: 5px 0 30px;
  font-size: 16px;
  padding: 5px 2px;
}

[data-theme="dark"] {
  background: rgb(35, 51, 72);
  & .theme-chooser {
    color: white;
  }
}

.theme-chooser {
  margin-bottom: 10px;
}