
table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  border: 1px solid #ccc;

}

table thead tr {
  background-color: #009879;
  color: #ffffff;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #ccc;
}

table tbody td {
  border-right: 1px solid #ccc;
}

table tbody td.winner {
  font-weight: bold;
}

table tbody td.red-alliance {
  background: #fdd;
}

table tbody td.blue-alliance {
  background: #ddf;
}
